/* https://github.com/antfu/prism-theme-vars */
@use "prism-theme-vars/base.css";
@use "prism-theme-vars/marker.css";
::root {
  --font-size-max: 14px;
  --font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier,
    monospace;
  --line-height-base: 1.5rem;
}
